#otherButtons {
  opacity: 0 !important;
}
.other-button-left {
  background-color: #01aee7 !important;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  opacity: 1;
}
.other-button-left-icon {
  width: 15.3px;
  height: 27px;
  background-image: url("../../assets/imgs/left-button.png") !important;
}
.other-button-right-icon {
  width: 15.3px;
  height: 27px;
  background-image: url("../../assets/imgs/right-button.png") !important;
}
