* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-carousel-wrapper-div {
  width: 100%;
  height: 632px;
  padding: 55px 100px;
  display: flex;
  justify-content: space-between;
}
.home-carousel-wrapper-div-texts {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 50%;
}
.home-carousel-wrapper-div-texts-logo {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  color: #000000;
}
.colorBlue {
  color: #01aee7;
}
.yellowLine {
  width: 105px;
  height: 5px;
  background: #fff500;
}

.home-carousel-wrapper-div-texts-logo-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  width: 463px;
}

.bottomText {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #01aee7;
  width: 235px;
}
.bottom-text-wrapper {
  display: flex;
  align-items: center;
}
.home-carousel-wrapper-div-img {
  background-image: url("../../assets/imgs/CarouselBack.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 507px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

@media (max-width: 500px) {
  .home-carousel-wrapper-div {
    padding: 10px;
    height: 160px;
  }

  .home-carousel-wrapper-div-img {
    width: 151px;
  }

  .home-carousel-wrapper-div-texts-logo {
    font-size: 20px;
    line-height: normal;
    height: 43.529px;
    width: 124.327px;
  }

  .home-carousel-wrapper-div-texts-logo-text {
    font-size: 10px;
    line-height: normal;
    width: 175px;
  }

  .bottomText {
    font-size: 10px;
    line-height: normal;
    width: 72.45px;
  }

  svg {
    width: 50px;
  }

  .bottom-text-wrapper {
    gap: 6px;
  }

  .yellowLine {
    width: 31.305px;
    height: 1.491px;
  }
  .carousel-indicators {
    margin: 0;
  }
}
