#otherButtons {
  opacity: 0 !important;
}
.other-button-left {
  background-color: #01aee7 !important;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: auto;
  opacity: 1;
}
.other-button-left-icon {
  width: 15.3px;
  height: 27px;
  background-image: url("../../assets/imgs/left-button.png") !important;
}
.other-button-right-icon {
  width: 15.3px;
  height: 27px;
  background-image: url("../../assets/imgs/right-button.png") !important;
}

.brend-caraousel-button {
  width: 22px !important;
  height: 22px !important;
  border-radius: 50%;
  background-color: #5d5656 !important;
}

.brend-caraousel-button.active {
  background-color: #fff500 !important;
}
.brend-carousel-item {
  min-height: 729px;
}

.brend-carousel-item video {
  width: 480px;
  height: 280px;
}
