@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.displayNone {
  display: block;
}
@media only screen and (max-width: 500px) {
  .displayNone {
    display: none;
  }
}
.offcanvas-body {
  display: flex !important;
  justify-content: center !important;
}
